/* src/components/layouts/styles/Footer.css */

.footer {
  background-color: var(--footer-background-color);
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left {
  flex: 1;
  text-align: left;
  font-size: var(--font-size-small);
}

.footer-center {
  flex: 1;
  text-align: center;
  font-size: var(--font-size-medium);
}

.footer-solanagate {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 5px;
}

.footer-solanagate:hover {
  color: var(--link-hover-color);
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right a {
  color: var(--text-color);
  margin-left: 10px;
}
.footer-right a:hover {
  color: var(--link-hover-color);
}
