/* src/components/layouts/styles/Header.css */

.header {
  background-color: var(--menu-background-color);
  color: var(--text-color);
  padding: 10px 0;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px; /* Keep the logo size small to fit within the header */
  width: 40px;
  margin-right: 10px; /* Add some space between the logo and the title */
}

.header-title {
  font-size: var(--text-size-huge);
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  color: var(--text-color);
  margin-left: 20px;
  text-decoration: none;
  font-size: var(--text-size-medium);
}

.nav-item.active {
  color: var(--link-active-color);
}

.hamburger-menu {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: var(--font-size-large);
  margin-left: auto;
}
/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu on small screens */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: var(
      --menu-background-color
    ); /* Same background color as the header */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
  }

  .nav-list.open {
    display: flex; /* Show menu when open */
  }

  .nav-item {
    margin: 10px 0;
    font-size: var(--fond-size-medium);
  }

  .nav-item a {
    color: var(--text-color);
    text-decoration: none;
  }

  .nav-item.active a {
    color: var(--link-active-color));
  }
}
