/* src/components/layouts/styles/Header.css */

.header {
  background-color: var(--header-background-color);
  color: var(--text-color);
  padding: 10px 0;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right{
  display: flex;
  align-items:center;
  justify-content:flex-end;
}

.header-logo {
  height: 40px;
  //width: 40px;
  margin-right: 10px;
}

.header-title {
  font-size: var(--text-size-huge);
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  color: var(--link-color);
  margin: 0 10px;
  text-decoration: none;
  font-size: var(--text-size-medium);
}

.nav-item.active {
  color: var(--link-active-color);
}

.nav-link-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-content span{
  margin-left: 5px;
}

.hamburger-menu {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: var(--font-size-large);
  margin-left: auto;
}
/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu on small screens */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: var(
      --menu-background-color
    ); /* Same background color as the header */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
  }

  .nav-list.open {
    display: flex; /* Show menu when open */
  }

  .nav-item {
    margin: 10px 0;
    font-size: var(--fond-size-medium);
  }

  .nav-item a {
    color: var(--text-color);
    text-decoration: none;
  }

  .nav-item.active a {
    color: var(--link-active-color));
  }
}
/* User Menu Container */
.user-menu {
  position: relative; /* Relative positioning for dropdown */
  display: flex;
  justify-content: flex-end;
  margin-left: 20px; /* Space from other items */
  cursor: pointer;
}

.user-icon {
  color: var(--text-color);
}

.user-icon:hover {
  color: var(--link-hover-color);
}

.account-dropdown {
  position: absolute;
  top: 35px; /* Position below the icon */
  right: 0;
  background-color: var(--menu-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1500;
  min-width: 200px;
  padding: 10px;
  color: var(--text-color);
}

.account-dropdown button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.account-dropdown button:hover {
  background-color: var(--button-hover-color);
}

.compressed-user-info {
  font-size: var(--font-size-small);
  line-height: 1.4;
  text-align: left;
}