/* src/styles/Template.css */

/* Define global variables */
:root {
  --link-color: #fff826; /* Link color */
  --link-active-color: #ffffff; /* Link active color */
  --link-hover-color: #f59794; /* Link hover color */
  --background-color: rgb(132, 127, 127); /* Background color */
  --menu-background-color: rgb(119, 121, 125);
  --header-background-color: #282c34;
  --footer-background-color: #282c34;
  --text-color: fff826; /* Default text color */
  --font-size-tiny: 9px; /* Tiny text size */
  --font-size-small: 12px; /* Small text size */
  --font-size-medium: 16px; /* Medium text size */
  --font-size-large: 20px; /* Large text size */
  --font-size-huge: 26px; /* Huge text size */
  --footer-height: 40px; /* Footer height */
}

/* You can also add other reusable styles here */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}
